*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding: 0px;
}

h1 {
    margin : 30px auto;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
  }


  .header{
    width:100%;
    margin:auto;
    display:flex;
    height: 86px;
    background: #1f1f1f;
    opacity: 0.8;
    position: fixed;
    top: 0;
    z-index: 100;
   
  }
  .snsArea{
    margin-top:24px;
  }

  .logo {
    border:none;
    width:250px;
    height:auto;
    padding-left:10px;
    
  }
  
  .logo > li {list-style-type: none; float: left; margin-left:30px;}
  
  
  .nav{
    display: flex;
    justify-content: flex-end;
    width:calc(1280px - 300px);
    line-height: 86px;
  }
  .nav > li {
    margin-left:84px;
  }
  
  .nav > li > a {
    color: #fff;
  }
  

  .home:hover {
    font-weight : 1000;
}
.about:hover{
    font-weight : 1000;
}
.album:hover{
    font-weight : 1000;
}
.letter:hover{
    font-weight : 1000;
  }
.korean:hover{
    font-weight: 1000;
}
  
  
.home:active  {
    font-weight : 1000;
    color:navy;
}
.about:active {
    font-weight : 1000;
    color:navy;
}
.album:active {
    font-weight : 1000;
    color:navy;
}
.letter:active {
    font-weight : 1000;
    color:navy;
  }
.korean:active {
    font-weight : 1000;
    color:navy;
  }

/* main explanation */

.wrap {
    background: #f1f2f3;
    margin : 0px;
    padding-top: 100px;
    padding-bottom : 500px;
}

.say{
    position : relative;
    margin-top : 150px;
}

.greetings {
    font-size : 70px;
    text-align : center;
}

.greetings_sub {
    font-size : 20px;
    text-align : center;
}


.photo_box {
    padding : 30px;
    position : relative;
}
.photo {
    width: 300px;
    height: 300px; 
    border-radius: 70%;
    overflow: hidden;
    margin:80px auto;
    display: block;
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.empty_500 {
    position : relative;
    width : 100%;
    height : 500px;
}

.que_box {
    position : relative;
   
}

.question_1 {
    position : relative;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color : black;
    
}

.is {
    position : relative;
    text-align: center;
    font-size : 50px;
    font-weight: 700;
    
}

.empty_300 {
    position : relative;
    width : 100%;
    height : 300px;
}

.answer_1 {
    top:20px;
    bottom : 50px;
    border-radius: 50px;;
    height : 80px;
    width : 250px;
    position : relative;
    text-align: center;
    font-size : 50px;
    font-weight: 700;
    background-color: pink;
    color :black;
    background-color: black;
    display : block;
    margin : auto;
}

.answer_1:hover {
    line-height: 80px;
    background-color: transparent;
    
}


.text_1 {
    margin-top : 200px; /*margin-top과 top의 차이?*/

    position: relative;
    text-align: center;
    font-size: 30px;
    
}


/*first rule*/
.first_rule_box {
    position: relative;
    margin :100px 0px;
    text-align: center;
}
.first_rule_text {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}
.first_rule_img{
    position : relative;
}
.first_rule_img > div {
   width: 350px;
   display: block;
   margin : 0 auto;
}
.first_rule_exam {
    margin-top: 70px;
    font-size: 30px;
}


/*second rule*/
.second_rule_box {
    position: relative;
    margin :100px 0px;
    text-align: center;
}
.second_rule_text {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}
.second_rule_img{
    position : relative;
}
.second_rule_img > div {
   width: 350px;
   display: inline;
   margin : 0 auto;
}
.second_rule_exam {
    margin-top: 70px;
    font-size: 30px;
}

.footer{
    display: flex;
    background: #1f1f1f;
    padding:30px;
  }
  .footer > div:first-child {
    flex:3;
    text-align: center;
    color: #fff;
  }
  .footer > div:last-child {
    flex:9;
    color: #fff;
  }